---
// Layout Imports
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Edgebox">
	<div slot="content">
        <h1>Cloud Early Access - Terms of service</h1>
        <p>We are excited to provide the early access to close testsrs and supporters of Edgebox.</p>
        <p>To provide the best possible experience, we've preapred a brief term of service that clearly explains all the situations and needs of data access regarding your account and associated instances.</p>

        <h2>1. Introduction</h2>

        <h3>EDGEBOX CLOUD SERVICES AGREEMENT</h3>

        <p>This Agreement ("Agreement") is entered into by and between the customer ("you") and Edgebox, the provider of the Edgebox cloud services ("Edgebox", "we", "our" or "us"). This Agreement outlines the terms and conditions governing your use of Edgebox's cloud services which consist of open-source software ("Service" or "Services").</p>

        <h3>2. Your Service Account</h3>

        <p>You will enjoy access to a dedicated instance that can generally be accessed only by you. In order to do so, you need to create an Edgebox account and provide accurate and complete information.</p>

        <h3>3. Service Access and Security</h3>

        <p>We may need to access your machine shell or its contents to provide support, update the machine, restore it to a working state, or offer necessary assistance. However, we will never access a machine or user data without following a specific, justified protocol described below.</p>

        <h3>4. Protocol for Accessing User Data</h3>

        <p>For troubleshooting, service restoration, and other inevitable processes, we may require access to your machine shell or data. We commit to the following protocol for such scenarios:</p>

        <p>
            a) We will clearly communicate the reason for needing to access your data.<br>
            b) We will seek explicit permission before any such access.<br>
            c) Access to user data will strictly be limited to the scope dictated by the request of support.<br>
            d) All access will be logged and records will be maintained securely.<br>
        </p>

        <h3>5. Privacy Policy</h3>

        <p>Our Privacy Policy also governs your use of our Services and is incorporated by reference into this Agreement. Please read it carefully as it describes our collection, use, and disclosure of personal information.</p>

        <h3>6. Intellectual Property Rights</h3>

        <p>Unless otherwise stated, all the content provided through the Service or on our website belongs to Edgebox - copyrights, trademarks, and other intellectual property rights included. You may not distribute, replicate, or sell any of the content without our explicit consent.</p>

        <h3>7. Termination</h3>

        <p>We reserve the right to terminate or suspend your access to the Services, without prior notice or liability, for any reason whatsoever, including without limitation, a breach of the Agreement.</p>

        <h3>8. Changes to the Agreement</h3>

        <p>Edgebox reserves the right to modify this Agreement at any time, and changes will be effective immediately upon posting. Your continued use of the Services will indicate your acceptance of the revised Agreement.</p>

        <p>Acknowledgement of your understanding and acceptance of this Agreement by is automatic as soon as your account e-mail is verified (by clicking the confirmation button on the registration verification e-mail).</p>

        <p>If you have questions or need further clarification, feel free to get in touch with our team via info@edgebox.io.</p>

    </div>
</BaseLayout>

<style>
    .btn {
        font-size: 1rem;
    }
    .btn img {
        max-width: 1rem;
        margin-right: 10px;
    }
    .img-no-right-margin {
        margin-right: 0px !important;
    }
</style>