---

---
<div class="container">
    <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
            <slot></slot>
        </div>
    </div>
</div>